
.condition-list-description {
  flex: 6;
  font-size: 14px !important;
  flex-wrap: wrap;
  box-sizing: content-box;
  border: 1px solid #000;
  resize: none;
  border-radius: 5px;
  width: calc(100% - 2px);
  min-width: 20px;
  height: 26px;
  background: rgba(0, 0, 0, 0.05);
  padding: 1px 3px;
  margin: 0;
  color: #191813;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  border: 1px solid #7a7971;
  border-radius: 3px;
}

.condition-list-label {
  flex: 3 3;
  text-align: center !important;
}




.condition-reminders-control-tool {
  width: 36px;
  height: 36px;
  box-sizing: content-box;
  font-size: 24px;
  line-height: 36px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px #000;
  margin: 0 6px 8px 0;
  color: #BBB;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.condition-reminders-control-tool:hover {
    color: #FFF;
    border: 1px solid red;
    border-bottom: 1px solid #ff6400;
    box-shadow: 0 0 10px #ff6400;
}

.condition-list {
  flex-flow: column;
    padding: 0;
    margin-top: 0;
    gap: 1em;
    min-width: 500px;
}


.condition-list > li {
  align-items: center;
  gap: 0.5em;
}

